@font-face {
	font-family: 'roboto';
	src:
		url('/font/roboto-variable-woff.woff') format('woff'),
		url('/font/roboto-variable-woff2.woff2') format('woff2');
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
}

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin 'tailwind-scrollbar' {
	nocompatible: true;
	preferredstrategy: 'pseudoelements';
}

@theme {
	--color-base-headings: oklch(95.15% 0.01 41.88);
	--color-base-body: hsl(16, 7%, 70%);
	--color-base-background: oklch(12.5% 0.014 33.28);
	--color-base-primary: oklch(78.76% 0.076 41.35);

	--color-base-secondary: oklch(45.06% 0.126 39.12) --color-base-accent: oklch(67.99% 0.18 39.21);
	--text-headings: 2.986rem;
	--text-subheading: 2.488rem;
	--font-mono: 'roboto';
}

body {
	font-size: 18px;
}
