@font-face {
	font-family: 'roboto';
	src:
		url('/font/roboto-variable-woff.woff') format('woff'),
		url('/font/roboto-variable-woff2.woff2') format('woff2');
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
}

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin 'tailwind-scrollbar' {
	nocompatible: true;
	preferredstrategy: 'pseudoelements';
}

@theme {
	--color-light-text: #040a0a;
	  --color-light-background: #f8fcfc;
	  --color-light-primary: #4bbcb1;
	  --color-light-secondary: #93a8d7;
	  --color-light-accent: #6f6ec9;
}

body {
	font-size: 18px;
}

.dark {
	--text: #f4fbfb;
	--background: #030707;
	--primary: #42b3a7;
	--secondary: #283d6c;
	--accent: #373691;
  }
  